{{> header}}

<body id="body">

<!-- preloader -->
<div id="preloader">
    <div class="loder-box">
        <div class="battery"></div>
    </div>
</div>
<!-- end preloader -->

<!--
Fixed Navigation
==================================== -->
<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <h1 class="navbar-brand">
                <img src="" >
                <!--<a href="#body">JAFFAN</a>-->
            </h1>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li><a href="#body">Home</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#portfolio">Products</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- /main nav -->

    </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<main class="site-content" role="main">

    <!--
    Home Slider
    ==================================== -->

    <section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">
            <div class="sl-slider">
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="bg-img bg-img-1"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 class="animated fadeInDown">JAFFAN Trading & Marketing</h2>
                            <span class="animated fadeInDown">The Leader in food ingredients and machinery</span>
                            <a href="#contact" class="btn btn-blue btn-effect">Contact US</a>
                        </div>
                    </div>
                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                    <div class="bg-img bg-img-2"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2>JAFFAN Trading & Marketing</h2>
                            <span>Your one stop shop for your manufacturing needs</span>
                            <a href="#contact" class="btn btn-blue btn-effect">Contact US</a>
                        </div>
                    </div>

                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

                    <div class="bg-img bg-img-3"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2>JAFFAN Trading & Marketing</h2>
                            <span>World class service</span>
                            <a href="#contact" class="btn btn-blue btn-effect">Contact US</a>
                        </div>
                    </div>

                </div>

            </div><!-- /sl-slider -->

            <!--
            <nav id="nav-arrows" class="nav-arrows">
                <span class="nav-arrow-prev">Previous</span>
                <span class="nav-arrow-next">Next</span>
            </nav>
            -->

            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a href="javascript:;" class="sl-prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a href="javascript:;" class="sl-next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>


            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
            </nav>

        </div><!-- /slider-wrapper -->
    </section>

    <!--
    End Home SliderEnd
    ==================================== -->

    <!-- about section -->
    <section id="about" >
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow animated fadeInLeft">
                    <div class="recent-works">
                        <h3>Recent Updates</h3>
                        <div id="works">
                            <div class="work-item">
                                <p>Meet us at the Gulf Food Manufacturing which will take place in Dubai from 6 - 9 November 2016 .<br><br> Details to come soon..</p>
                            </div>
                            <div class="work-item">
                                <p>Meet us at the Gulf Food Manufacturing which will take place in Dubai from 27-29 October 2015 .<br><br> Our stand is at Sheikh Saeed Hall (S2-D46).<br>This year we have 88 sqm stand and we do have several principals sharing the stand with us and this year we do have :<br>Memak - Turkey <br>They do provide a high quality machines for the chocolate processing and bakery industries.<br>Krueger - Germany<br>One of the leader in the health cereal forming machines.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                    <div class="welcome-block">
                        <h3>Welcome To Our Site</h3>
                        <div class="message-body">
                            <!--<img src="" class="pull-left" alt="member">-->
                            <p>
                                Since 1950, Jaffan Trading & Marketing (JTM) has been providing customers around the Middle East with high quality raw materials and machinery for the food industry. Founded by the late Hicham H. Jaffan in Damascus, Syria, JTM has been commited in providing a truly end to end service for client.
                                We hand pick our suppliers to ensure that our clients receive high quality raw materials at competitive prices.<br>
                                Mr. Tarif Jaffan, our President, makes sure that JTM delivers
                            </p>
                        </div>
                        <!--a-- href="#" class="btn btn-border btn-effect pull-right">Read More</a-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->


    <!-- Service section -->
    <section id="service">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">Service</h2>
                    <p class="wow animated bounceInRight">What Sets us Apart</p>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-home fa-3x"></i>
                        </div>
                        <h3>Support</h3>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <h3>Transparency</h3>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-clock-o fa-3x"></i>
                        </div>
                        <h3>History</h3>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-heart fa-3x"></i>
                        </div>

                        <h3>Reputation</h3>
                        <p></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end Service section -->

    <!-- portfolio section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>OUR OFFERS</h2>
                    <p>Your one stop shop</p>
                </div>


                <ul class="project-wrapper wow animated fadeInUp">
                    <li class="portfolio-item">
                        <img src="img/portfolio/Bakery%20products.jpg" class="img-responsive" alt="We bring in lots of experience and know how into the production and manufacturing of bakery goods. Either for Processing lines, wraping machines or just the Raw Maerials. We are your one stop shop.">
                        <figcaption class="mask">
                            <h3>Bakery</h3>
                            <p>We bring in lots of experience and know how into the production and manufacturing of bakery goods. </p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Bakery" data-fancybox-group="works" href="img/portfolio/Bakery%20products.jpg"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>

                    <li class="portfolio-item">
                        <img src="img/portfolio/juice.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask">
                            <h3>Beverage</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Beverage" href="img/slider/juice.jpg" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>

                    <li class="portfolio-item">
                        <img src="img/portfolio/Chocolate.png" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask">
                            <h3>Chocolate</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Chocolate" data-fancybox-group="works" href="img/portfolio/Chocolate.png"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>

                    <li class="portfolio-item">
                        <img src="img/portfolio/confectionery.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
                        <figcaption class="mask">
                            <h3>Confectionary</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Confectionary" data-fancybox-group="works" href="img/portfolio/confectionery.jpg"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>

                    <li class="portfolio-item">
                        <img src="img/portfolio/IceCream.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask">
                            <h3>Dairy & Ice Cream</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Dairy & Ice Cream" data-fancybox-group="works" href="img/portfolio/IceCream.jpg"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>

                    <li class="portfolio-item">
                        <img src="img/portfolio/fragrance.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask">
                            <h3>Fragrance</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Fragrance" data-fancybox-group="works" href="img/portfolio/fragrance.jpg"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item">
                        <img src="img/portfolio/pharmacutical.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask">
                            <h3>Pharmaceutical</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Pharmaceutical" data-fancybox-group="works" href="img/portfolio/pharmacutical.jpg"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item">
                        <img src="img/portfolio/snack.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask">
                            <h3>Snacks</h3>
                            <p></p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Snacks" data-fancybox-group="works" href="img/portfolio/snack.jpg"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </section>
    <!-- end portfolio section -->

    <!-- Social section -->
    <section id="social" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center white wow animated fadeInDown">
                        <h2>FOLLOW US</h2>
                    </div>

                    <ul class="social-button">
                        <li class="wow animated zoomIn"><a href="https://www.facebook.com/Jaffan/"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!-- end Social section -->

    <!-- Contact section -->
    <section id="contact" >
        <div class="container">
            <div class="row">
                <div class="col-md-7 contact-form wow animated fadeInLeft" >
                    <div class="cognito">
                        <script src="https://services.cognitoforms.com/s/wS_G94BcLkyoExe8MCLpog"></script>
                        <script>Cognito.load("forms", { id: "1" });</script>
                    </div>
                </div>
                <div class="col-md-5 wow animated fadeInRight">
                    <address class="contact-details">
                        <h3>Head Quarters</h3>
                        <p><i class="fa fa-pencil"></i>Jaffan Trading & Marketing<span>PO Box 618</span> <span>Damascus</span><span>Syria</span></p><br>
                        <p><i class="fa fa-phone"></i>Phone: +963 11 221 0466 </p>
                        <p><i class="fa fa-envelope"></i>info@jaffan.com</p>
                    </address>
                    <address class="contact-details">
                        <h3>Branches</h3>
                        <div class="branches">
                            <h4>Saudi Arabia</h4>
                            <p><i class="fa fa-pencil"></i>Jaffan Trading & Marketing<span>P.O. Box: 136403</span> <span>Jeddah 21313</span><span>Saudi Arabia</span></p><br>
                            <p><i class="fa fa-phone"></i>Phone: +966-50- 360 1256 </p>
                            <p><i class="fa fa-envelope"></i>info@jtmsa.jaffan.com</p>
                        </div>
                        <div class="branches">
                            <h4>Lebanon</h4>
                            <p><i class="fa fa-pencil"></i>Jaffan Trading & Marketing<span>P.O. Box: 136403</span> <span>Beirut 21313</span><span>Lebanon</span></p><br>
                            <p><i class="fa fa-phone"></i>Phone: +961-3-650 530 </p>
                            <p><i class="fa fa-envelope"></i>info@jtmlb.jaffan.com</p>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </section>
    <!-- end Contact section -->

    <section id="google-map">
        <div id="map-canvas" class="wow animated fadeInUp"></div>
    </section>

</main>

{{> footer}}